*~
*.gcda
*.gcno
*.la
*.lo
*.orig
*.rej
*.swp
*.swn
*.swo
*.tar.gz
Makefile
Makefile.in
.DS_Store
.deps
.dirstamp
.libs
/autom4te.cache
/build-aux
/aclocal.m4
/chromium-extension/*.json
/chromium-extension/*.so
/chromium-extension/chromium-extension.crx
/chromium-extension/eid
/chromium-extension/res/
/compile
/config.*
/configure
/depcomp
/desktop-notifications.pem
/gtk-doc.make
/INSTALL
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libtool
/ltmain.sh
/m4/intltool.m4
/m4/libtool.m4
/m4/lt*.m4
/mkinstalldirs
/missing
/po/Makefile.in.in
/po/POTFILES
/po/stamp-it
/po/desktop_notifications_browser_extension.pot
/stamp-h1

